*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#4b001f;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.success-box{

background:white;

padding:40px;

border-radius:20px;

text-align:center;

width:90%;
max-width:450px;

}

.tick{

font-size:70px;

margin-bottom:20px;

}

h1{

color:#650028;

margin-bottom:15px;

}

p{

margin:10px 0;

color:#555;

}

button{

margin-top:25px;

padding:15px 35px;

border:none;

background:#650028;

color:white;

border-radius:10px;

cursor:pointer;

font-size:18px;

}

button:hover{

background:#86003a;

}
